.container {
  margin-top: 40px;
}
#logo {
  height: 100px;
}
.bar {
  background: black;
  height: 50px;
}
#profile_image {
  width: 350px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.45);
}
#track_icon { }
.icon {
  float: left;
  width: 128px;
  height: 128px;
}
.span8 h1 {
  font-size: 40px;
}
.bar_cover {
  margin: 30px 0 0 -10px;
  float: left;
  overflow: hidden;
  width: 360px;
  border-top-right-radius: 25px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.45);
}
.bar {
  padding: 0 0 0 10px;
  height: 30px;
  font-size: 25px;
  color: #ffffff;
  background: #3BA4DB;
  width: 692px;
  text-shadow: 0 0 0;
  padding-top: 10px;
}
#dev_icon {
  background: url(images/icon_dev.png) no-repeat;
  background-size: 100px;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.45)
}
.span16 {
  width: 932px;
}
.centralbar {
  background-color: #3BA4DB;
  height: 30px;
  border-radius: 25px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.45);
  margin-bottom: 10px;
}
.row {
  margin-bottom: 75px;
}
#skills span {
  overflow:hidden;
  background:#3BA4DB;
  border:1px solid #a8abad;
  border-top-color:#cbcdce;
  border-left-color:#cbcdce;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  color:white;
  text-decoration:none;
  white-space:nowrap;
  text-overflow:ellipsis;
  padding:1px 4px;
  font-size: 18px;
  border-radius: 8px;
}
#fl {
  margin-top: 10px;
}
#interests span {
  overflow:hidden;
  background:#3BA4DB;
  border:1px solid #a8abad;
  border-top-color:#cbcdce;
  border-left-color:#cbcdce;
  border-radius:3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  color:white;
  text-decoration:none;
  white-space:nowrap;
  text-overflow:ellipsis;
  padding:2px 4px;
  font-size: 18px;
  border-radius: 8px;
}

.bottom_container {
  font-size: 16px;
}
#profile_background {
  float: left;
}
.social_footprint {
  float: right;
  margin-right: 177px;
}
