<section id="contact" class="container">
  <div class="row">

    <div class="column"><div class="column_content">
      <img id="contact_logo" src="img/BSS_Logo_128x381.png">
    </div></div>

    <div class="column"><div class="column_content">
      <div class="contact_line"><div class="email contact_icon"></div>&nbsp;info@bostonstartupschool.com</div>
      <div class="contact_line"><a href="https://twitter.com/BOStartupSchool" target="_blank"><div class="twitter contact_icon"></div>&nbsp;@BOStartupSchool</a></div>
      <div class="contact_line"><a href="https://twitter.com/#!/search/%23LearnToDo" target="_blank"><div class="hash contact_icon"></div>&nbsp;#LearnToDo</a></div>
    </div></div>

  </div>
</section>
