<h1>About the Program</h1>
<section id="details" class="container padding-bottom">
  <div class="row">
    <div class="column"><div class="column_content last">
      Boston Startup School is the best place for young professionals to learn the skills needed to have an immediate and positive impact on the startup they join. Your days will be spent working on real startup challenges, rapidly applying your new skills. You will have an opportunity to meet an incredible set of Boston startup companies that are looking for top talent to grow their businesses.
    </div></div>

    <div class="column"><div class="column_content last">
      Our program is an immersive, six-week, full time experience that educates participants on startup culture, team dynamics and one of four in-demand skill sets.
      <br/>
      <br/>
      <a href="img/schedule.png" rel="popover" class="larger" data-content="<img src='img/schedule.png' style='width:200px;'/>" data-title="One Sample Week:" target="blank">Click to see what a week might look like</a>
    </div></div>
  </div>

  <div class="row">
    <h2>Four Different Curriculum Tracks</h2>
  </div>

  <div id="dev" class="row">
    <div class="curric_bar">
      <a href="img/dev_cloud_large.png" target="blank"><div class="icon" id="dev_icon" rel="popover"
        data-content="<img src='img/dev_cloud_small.png' style='width:250px;'/>"
        data-title="Software is:"
        data-placement="right"></div></a>
      <div class="bar_cover">
        <div class="bar">Software Development</div>
      </div>
    </div>
    <p class="curriculum_section_details">Select from Mobile, Front End or Back End development; learn the underlying tricks to becoming a great engineer and build something real during the program.
      <br/><br/>
      <a class="larger" target="blank" href="doc/Software Development Curriculum.pdf">Click to see the software dev curriculum</a>
    </p>
    <%# <div class="word_cloud"> %>
    <%#   <img class="post_load_img" data-base_name="dev_cloud" data-format="png" alt="Software development skills" /> %>
    <%# </div> %>
  </div>

  <hr/>

  <div id="marketing" class="row">
    <div class="curric_bar">
      <a href="img/marketing_cloud_large.png" target="blank"><div class="icon" id="marketing_icon" rel="popover"
        data-content="<img src='img/marketing_cloud_small.png' style='width:250px;'/>"
        data-title="Marketing is:"
        data-placement="right"></div></a>
      <div class="bar_cover">
        <div class="bar">Marketing</div>
      </div>
    </div>
    <p class="curriculum_section_details">Understand and practice customer segmentation and acquisition; learn community management and social strategies while testing on real projects.
      <br/><br/>
      <a class="larger" target="blank" href="doc/Marketing Curriculum.pdf">Click to see the marketing curriculum</a>
    </p>
    <%# <div class="word_cloud"> #%>
    <%#   <img class="post_load_img" data-base_name="marketing_cloud" data-format="png" alt="Marketing skills" style="margin-top:0"/> #%>
    <%# </div> #%>
  </div>
  <hr/>

  <div id="design" class="row">
    <div class="curric_bar">
      <a href="img/product_cloud_large.png" target="blank"><div class="icon" id="design_icon" rel="popover"
        data-content="<img src='img/product_cloud_small.png' style='width:250px;'/>"
        data-title="Product is:"
        data-placement="right"></div></a>
      <div class="bar_cover">
        <div class="bar">Product Design</div>
      </div>
    </div>
    <p class="curriculum_section_details">Learn and build user stories and personas; user current tools to design and shape beautiful user experiences with online products.
      <br/><br/>
      <a class="larger" target="blank" href="doc/Product Design Curriculum.pdf">Click to see the product curriculum</a>
    </p>
    <%# <div class="word_cloud"> #%>
    <%#   <img class="post_load_img" data-base_name="product_cloud" data-format="png" alt="Product skills" style="margin-top:0"/> #%>
    <%# </div> #%>
  </div>

  <hr/>

  <div id="sales" class="row" style="margin-bottom:40px">
    <div class="curric_bar">
      <a href="img/sales_cloud_large.png" target="blank"><div class="icon" id="sales_icon" rel="popover"
        data-content="<img src='img/sales_cloud_small.png' style='width:250px;'/>"
        data-title="Sales is:"
        data-placement="right"></div></a>
      <div class="bar_cover">
        <div class="bar">Sales &amp; Business Development</div>
      </div>
    </div>
    <p class="curriculum_section_details">Get to know the sales process, customer development and management; practice identifying and cultivating business development relationships.
      <br/><br/>
      <a class="larger" target="blank" href="doc/Sales & Business Development Curriculum.pdf">Click to see the sales curriculum</a>
    </p>
    <%# <div class="word_cloud"> #%>
    <%#   <img class="post_load_img" data-base_name="sales_cloud" data-format="png" alt="Sales skills" style="margin-top:0"/> #%>
    <%# </div> #%>
  </div>

  <hr/>

</section>
