<section id="details">
  <div class="content">
    <p>Boston Startup School launches on June 4th, 2012 and runs for six weeks.</p>
    <p><strong>The early application deadline is April 1st, 2012</strong></p>
    <h2>Why apply early?</h2>
    <p>Applicants who submit by 11:59PM on April 1st will be invited to an incredibly unique, invitation only event and after party held on Thursday May 3rd. Details will follow your submission.</p>
    <p>This is an intensive program, successful participants will work at the intense pace of a startup.</p>
  </div>
</section>
