<section id="hero">
  <div class="hero_content">
    Learn what it takes to make an impact. Join the Next Big Thing. <a href="https://twitter.com/#!/search/LearnToDo">#LearnToDo</a>
    <div class="trust">Born at: <img id="ts_logo" src="img/techstars.png"/>&nbsp;&nbsp;<img id="ts_logo" src="img/p11_logo.png"/>
      <button class="btn btn-warning btn-large float_right" id="apply_now_btn">Apply Now</button>
    </div>
  </div>

  <img id="logo_no_arrowhead" class="logo" src="img/BSS_Logo_500x1484_noarrow.png"/>
  <img id="logo_arrowhead" class="logo" src="img/BSS_Logo_256x761.png"/>
</section>

