<section id="hero">
  <div class="hero_content">
    Learn what it takes to make an impact.
    <div class="trust">Born at: <img id="ts_logo" src="img/techstars.png"/>&nbsp;&nbsp;<img id="ts_logo" src="img/p11_logo.png"/></div>
  </div>
</section>

<img id="svg_logo" src="img/BSS_Logo_500x1484_noarrow.png"/>
</object>
