<h1>In a Nutshell</h1>
<section id="nutshell" class="container">
  <div class="row">
    <h2>Startup School is:</h2>
  </div>
  <div class="row">
    <div class="column"><div class="column_content">
      <ul>
        <li>A free, 6&ndash;week full&ndash;time program</li>
        <li>Real&ndash;world project&ndash;based education</li>
        <li>Learn specific, highly demanded skills</li>
      </ul>
    </div></div>
    <div class="column"><div class="column_content">
      <ul>
        <li>For graduating seniors and recent grads</li>
        <li>Highly selective, rolling admission</li>
        <li>Applications for the upcoming class are now closed</li>
      </ul>
    </div></div>
  </div>
</section>
