<h1>In a Nutshell</h1>
<section id="nutshell" class="container">
  <div class="row">
    <h2>Startup School is:</h2>
  </div>
  <div class="row">
    <div class="column"><div class="column_content">
      <ul>
        <li>A 6 week, full-time program</li>
        <li>Free for participants</li>
        <li>A place to learn highly demanded skills</li>
      </ul>
    </div></div>
    <div class="column"><div class="column_content">
      <ul>
        <li>Real world project-based education</li>
        <li>Highly selective</li>
        <li>Open for applicants until May 15th, 2012</li>
      </ul>
    </div></div>
  </div>
</section>
