<h1>Partners &amp; Sponsors</h1>
<section class="container" id="partners">
  <div class="row">
  </div>

  <div class="row last">
   
 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.tripadvisor.com">
        <img src="img/tripadvisor-color.jpg" alt="Tripadvisor" />
  <div class="name"> </div>
      </a>
    </div></div>

 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.brightcove.com">
        <img src="img/brightcove-color.jpg" alt="Brightcove" />
  <div class="name"> </div>
      </a>
    </div></div>

 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.fisku.com">
        <img src="img/fiksu-color.jpg" alt="Fiksu" />
   <div class="name"> </div>
     </a>
    </div></div>
   
 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.dyn.com">
        <img src="img/dyn-color.jpg" alt="Dyn" />
  <div class="name"> </div>
      </a>
    </div></div>

 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.kinvey.com">
        <img src="img/kinvey-color.jpg" alt="Kinvey" />
  <div class="name"> </div>
      </a>
    </div></div>

 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.kyruus.com">
        <img src="img/kyruus-color.jpg" alt="Kyruus" />
  <div class="name"> </div>
      </a>
    </div></div>

 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.microsoft.com">
        <img src="img/Microsoft-grey.jpg" alt="Microsoft" />
   <div class="name"> </div>
     </a>
    </div></div>

 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.utest.com">
        <img src="img/utest-color.jpg" alt="U Test" />
   <div class="name"> </div>
     </a>
    </div></div>

 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.swipely.com">
        <img src="img/swipely-color.jpg" alt="Swipely" />
  <div class="name"> </div>
      </a>
    </div></div>
   
 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.svb.com">
        <img src="img/svb-color.jpg" alt="Silicon Valley Bank" />
   <div class="name"> </div>
     </a>
    </div></div>

 <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.fairhavencapital.com">
        <img src="img/fairhaven-color.jpg" alt="Fairhaven" />
   <div class="name"> </div>
     </a>
    </div></div>

  </div>

</section>
