<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<h1>Sign Up</h1>
<section id="apply" class="container">
<div class="row"><div class="two_column"><div class="column_content">
  <div id="instructions_container"><div id="instructions">
</div></div>

  <form id="getting_started">
    <input type="hidden" name="form_id" value="m7x3r3">
    <div class="control-group">
      <label for="app[Field1]">Email</label>
      <input type="text" name="app[Field1]" id="getting_started_email" />
      <span class="help-inline" id="getting_started_email_error"></span>
    </div>

    <button type="button" class="btn btn-warning" id="submit_getting_started">Sign Up</button>

    <p style="margin-top:20px;">Add your email here and we&rsquo;ll notify you first when our Fall application opens.</p>
</form>

 <form id="application">
    <input type="hidden" name="form_id" value="z7x3x5">

    <p id="awesome">Awesome! We&rsquo;ll be in contact through the email you just provided. Thanks!!!</p>

     <p style="margin-top:20px; margin-bottom:20px;"><span class="your_done" style="color: ">ONE MORE THING:</span>&nbsp;&nbsp; We&rsquo;d totally love it if you spread the word about our upcoming Fall class.</p>

<a href="https://twitter.com/intent/tweet?source=BOStartupSchool&hashtags=LearnToDo&text=I%20just%20signed%20up%20to%20learn%20more%20about%20the%20@BOStartupSchool%20Fall%20class...you%20should%20too!%20bit.ly/bostartup%20#LearnToDo" style="margin-bottom: 20px;">
    <button type="button" class="btn btn-warning" id="show_your_love">Show Your Love</button>
</a>

    <p><a href="https://twitter.com/#!/search/%23LearnToDo">#LearnToDo</a> <a href="https://twitter.com/BOStartupSchool">@BOStartupSchool</a></p>


  </form>

</div></div></div>
</section>
