<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

<h1>Sign Up</h1>
<section id="apply" class="container">
<div class="row"><div class="two_column"><div class="column_content">
  <div id="instructions_container"><div id="instructions">

  <form id="getting_started">
    <input type="hidden" name="form_id" value="m7x3r3">
    <div class="control-group">
      <label for="app[Field1]">Email</label>
      <input type="text" name="app[Field1]" id="getting_started_email" />
      <span class="help-inline" id="getting_started_email_error"></span>
    </div>

    <button type="button" class="btn btn-warning" id="submit_getting_started">Submit</button>

    <p style="margin-top:20px;">Add your email here and we&rsquo;ll notify you first when our Fall application opens.</p>

  <form id="application">
    <input type="hidden" name="form_id" value="z7x3x5">

    <p class="green" id="awesome">Awesome! We&rsquo;ll be in contact through the email you just provided. Thanks!!!</p>

</form>
</div></div></div>
</section>
