<h1>Buzz for Startup School</h1>
<section class="container" id="trust">
  <div class="row">
    <div class="half_column"><div class="column_content">
      Boston.com
    </div></div>
    <div class="half_column"><div class="column_content">
      Bostinno
    </div></div>
  </div>
</section>
