<h1>When &amp; Where</h1>
<section id="when_where" class="container">
  <div class="row" style="margin-bottom:0";>
    <div class="two_column"><div class="column_content">
        Our latest program is being held from <span class="bold">June</span> to <span class="bold">August</span>. Our participants spend their days working in collaborative working spaces such as <a href="http://ilab.harvard.edu/parking">Harvard Innovation Lab</a> and on-site at some of our partner companies.
    </div></div>
  </div>

  <div class="row">
       <div class="column"><div class="column_content">
      <span class="bold">Our Next Program is </span>&nbsp;&nbsp;<br><span class="deadline">Coming Soon!</span>
    </div></div>
  </div>
</section>
