<h1>When &amp; Where</h1>
<section id="when_where" class="container">
  <div class="row" style="margin-bottom:0";>
    <div class="two_column"><div class="column_content">
        Our program starts on <span class="bold">June 13<sup>th</sup></span> and lasts <span class="bold">6 weeks</span>. You&rsquo;ll spend your days working in our space at <a href="http://ilab.harvard.edu/parking">Harvard Innovation Lab</a> and on-site at some of our partner companies.
    </div></div>
  </div>

  <div class="row">
       <div class="column"><div class="column_content">
      <span class="bold">Program Starts:</span>&nbsp;&nbsp;<span class="deadline">June 13<sup>th</sup>, 2012</span>
    </div></div>
  </div>
</section>
