<h1>Who's Involved</h1>
<section class="container" id="who">
  <div class="row">
    <h2>Advisors</h2>
    Katie, Reed, Mark, Brad
  </div>

  <div class="row">
    <h2>Operating Team</h2>
    Aaron, Shuan, John, Niki, Miguel, Evan
  </div>

  <div class="row">
    <h2>Speakers</h2>
    Mark, Reed
  </div>
</section>
