<h1>Who&rsquo;s Involved</h1>
<section class="container" id="who">
  <div class="row">
    <h2>Advisors</h2>
  </div>

  <div class="row last">
    <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.techstars.com/program/mentors/krae">
        <img src="img/katie_rae.jpg" alt="Katie Rae" />
        <div class="name">Katie Rae</div>
      </a>
    </div></div>
    <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://www.techstars.com/program/mentors/rsturtevant">
        <img src="img/reed_sturtevant.jpg" alt="Reed Sturtevant" />
        <div class="name">Reed Sturtevant</div>
      </a>
    </div></div>
    <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://about.me/markchang">
        <img src="img/mark_chang.jpg" alt="Mark Chang" />
        <div class="name">Mark Chang</div>
      </a>
    </div></div>
  </div>

  <div class="row">
    <h2>Operating Team</h2>
  </div>

  <div class="row">
    <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://twitter.com/aaron0">
        <img src="img/aaron_ohearn.jpg" alt="Aaron O'Hearn" />
        <div class="name">Aaron O'Hearn</div>
      </a>
    </div></div>
    <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://twitter.com/idealexit">
        <img src="img/shaun_johnson.jpg" alt="Shaun Johnson" />
        <div class="name">Shaun Johnson</div>
      </a>
    </div></div>
    <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://twitter.com/jcap49">
        <img src="img/john_capecelatro.jpg" alt="John Capecelatro" />
        <div class="name">John Capecelatro</div>
      </a>
    </div></div>
    <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://twitter.com/wkeato">
        <img src="img/will_eaton.png" alt="Will Eaton" />
        <div class="name">Will Eaton</div>
      </a>
    </div></div>
    <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://twitter.com/jingniwei">
        <img src="img/jing_wei.jpg" alt="Jingni Wei" />
        <div class="name">Jing Wei</div>
      </a>
    </div></div>
    <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://twitter.com/e0m">
        <img src="img/evan_morikawa.jpg" alt="Evan Morikawa" />
        <div class="name">Evan Morikawa</div>
      </a>
    </div></div>
    <div class="half_column"><div class="column_content">
      <a target="_blank" href="http://twitter.com/cyberdoerte">
        <img src="img/doerte_sennecke-chow.jpg" alt="Doerte Sennecke-Chow" />
        <div class="name">Dee Sennecke-Chow</div>
      </a>
     </di></div>
  </div>

</section>
