<h1>Why Startup School</h1>
<section id="why" class="container">


<!-- ***Videos Moved to the Blog***
  <div class="row">
    <div class="column"><div id="video_one" class="column_content">
      <h2>A Startup Environment</h2>

    </div></div>
    <div class="column"><div id="video_two" class="column_content">
      <h2>Experiences from a Startup</h2>

    </div></div>
    <div class="column"><div id="video_three" class="column_content">
      <h2>Words from a Founder</h2>

    </div></div>
  </div>

  <hr />
-->

  <div class="row">
    <div class="column"><div class="column_content">
      <h2>Key Reasons</h2>
      <ol>
        <li>Build a meaningful network</li>
        <li>Gain access to great startups</li>
        <li>Learn highly demanded skills</li>
        <li>Become awesomely employed</li>
      </ol>
    </div></div>

    <div class="column"><div class="column_content">
      <h2 class="padding-bottom">What You Get</h2>
      Participants will leave the program well-trained, well-networked, and exposed to meaningful opportunities at many of the hottest startups in Boston. Furthermore, you will be part of an exclusive network that will kickstart your startup career.
    </div></div>

  </div>


  <div class="row">
    <h2>From the Words of Employers</h2>
    <div class="column"><div class="column_content">
      <p class="quote"><span class="quotation_mark">&ldquo;</span>I&rsquo;d hire from Boston Startup School over any degree because I practically lived it during TechStars. This team is great at preparing people to be &lsquo;A&rsquo; players in a startup.<span class="quotation_mark">&rdquo;</span></p>
      <p class="quoter">&mdash; Nick Francis, CEO and Founder of <a href="http://helpscout.net">Help Scout</a></p>
    </div></div>

    <div class="column"><div class="column_content">
      <p class="quote"><span class="quotation_mark">&ldquo;</span>6 weeks in the program is like spending 2 years out in the wild getting experience. It&rsquo;s a professional accelerator; I&rsquo;d love to hire their graduates<span class="quotation_mark">&rdquo;</span></p>
      <p class="quoter">&mdash; Raj Aggarwal, CEO and Founder of <a href="http://localyitcs.com">Localytics</a></p>
    </div></div>
  </div>


</section>
