<section id="why">
  <div class="content">
    <p>Boston Startup School is a unique educational experience where select people gain highly sought-after skills, a deep understanding of startup culture, and unparalleled access to a valuable community of seasoned entrepreneurs, educators, and mentors. </p>
    <p>Students attend lectures and workshops, participate in startup-pace, team projects, and will regularly network and interview with companies hiring throughout the Boston area.</p>
  </div>
</section>
