<h1>Why Startup School</h1>
<section id="why" class="container">

  <div class="row">
    <div class="column"><div id="video_one" class="column_content">
      <h2>A Startup Environment</h2>
      <!-- VIDEO GETS INSERTTED HERE BY JAVASCRIPT -->
    </div></div>
    <div class="column"><div id="video_two" class="column_content">
      <h2>Experiences from a Startup</h2>
      <!-- VIDEO GETS INSERTTED HERE BY JAVASCRIPT -->
    </div></div>
  </div>

  <hr />

  <div class="row">
    <div class="column"><div class="column_content">
      <h2>Key Reasons</h2>
      <ol>
        <li>Build a meaningful network</li>
        <li>Gain access to great startups</li>
        <li>Learn highly demanded skills</li>
        <li>Become awesomely employed</li>
      </ol>
    </div></div>

    <div class="column"><div class="column_content">
      <h2>What You Get</h2>
      Participants will leave the program well-trained, well-networked, and exposed to meaningful opportunities at many of the hottest startups in Boston. Furthermore, you will be part of an exclusive network that will kickstart your startup career.
    </div></div>

  </div>


  <div class="row">
    <h2>Why Employers Want This</h2>
    <div class="column"><div class="column_content">
      <h3>Nick Francis from Helpscout</h3>
      <p class="quote">"I'd hire from Boston Startup School over any degree because I practically lived it during TechStars. This team is great at preparing people to be A-players in a startup."</p>
    </div></div>
  </div>


</section>
