<div id="page">
  <section>
    <h1>Apply Now</h1>
  </section>

  <section>
    <h1>Curriculum</h1>
    <p class="curric_content">
      Select from one of four curriculum tracks, each of which are highly coveted in today's competitive job market.
    </p>

    <div class="curriculum_section" id="dev" style="margin-top:0">
      <div class="icon" id="dev_icon"></div>
      <div class="bar_cover">
        <div class="bar">Software Development <span class="subtext">- Mobile, Front End, Back End</span></div>
      </div>
    </div>
    <div class="curriculum_section" id="marketing">
      <div class="icon" id="marketing_icon"></div>
      <div class="bar_cover">
        <div class="bar">Marketing</div>
      </div>
    </div>
    <div class="curriculum_section" id="design">
      <div class="icon" id="design_icon"></div>
      <div class="bar_cover">
        <div class="bar">Product Design</div>
      </div>
    </div>
    <div class="curriculum_section" id="sales" style="margin-bottom:0">
      <div class="icon" id="sales_icon"></div>
      <div class="bar_cover">
        <div class="bar">Sales &amp; Business Development</div>
      </div>
    </div>

    <p class="curric_content" style="margin-top:0">
      We also provide an underlying curriculum that's akin to the on boarding process you'd experience once joining a team, de-risking the opportunity for companies to hire you after our program.
    </p>

  </section>

  <section>
    <h1>Why attend?</h1>
    <div class="content">
      <p>It's an experience you can't obtain elsewhere. You learn from key leaders in the community who deliver lectures, workshops and team-based projects.</p>
      <p>You'll be sought-after by Boston area startups looking to build their team immediately.</p>
    </div>
  </section>

  <section>
    <h1>What's this about?</h1>
    <div class="content">
      <p>Boston Startup School helps graduating college seniors learn what it takes to become more hirable and participate as a key team member of a Boston area startup company.</p>
      <p>Our program is a six week immersive curriculum that teaches you a series of highly demanded skill sets.</p>
    </div>
  </section>

  <section id="hero">
    <div class="hero_content">
      Learn what it takes to join a startup.
      <div class="trust">Backed by: <img id="ts_logo" src="img/techstars.png"/></div>
    </div>
  </section>

  <!--[if !IE]>-->
  <object data="img/logo.svg" type="image/svg+xml" style="display:none"
    width="270" height="91" id="svg_logo"> <!--<![endif]-->
  <!--[if lt IE 9]>
  <object src="img/logo.svg" classid="image/svg+xml"
    width="270" height="91" id="svg_logo"> <![endif]-->
  <!--[if gte IE 9]>
  <object data="img/logo.svg" type="image/svg+xml"
    width="270" height="91" id="svg_logo"> <![endif]-->
  </object>

  <div id="arrow">
    <div id="arrow_head"></div>
    <div id="arrow_body">
      <!--<div id="call_to_action">
        <div id="call_text">Apply Now</div>
      </div>-->
    </div>
    <div id="arrow_tail"></div>
  </div>
</div>
