<!--[if !IE]>-->
<object data="img/logo.svg" type="image/svg+xml" style="display:none"
  width="270" height="91" id="svg_logo"> <!--<![endif]-->
<!--[if lt IE 9]>
<object src="img/logo.svg" classid="image/svg+xml"
  width="270" height="91" id="svg_logo"> <![endif]-->
<!--[if gte IE 9]>
<object data="img/logo.svg" type="image/svg+xml"
  width="270" height="91" id="svg_logo"> <![endif]-->
</object>

<div id="arrow">
  <div class="arrow_head"></div>
  <div class="arrow_body"></div>
  <div class="arrow_tail"></div>
</div>

<div id="call_to_action">
  <div id="call_text">Apply Now</div>
</div>
