<button id="call_to_action" class="btn btn-warning">Apply Now</button>

<div id="scroll_up">
  Scroll up<br/>
  for more info
  <div class="scroll_arrow">
    <div class="scroll_arrow_head"></div>
    <div class="scroll_arrow_body"></div>
  </div>
</div>

<h1 class="section_header apply_header" data-section="apply" data-order="0">Apply Now</h1>
<h1 class="section_header" data-section="why" data-order="1">Why attend</h1>
<h1 class="section_header" data-section="details" data-order="2">Details</h1>
<h1 class="section_header" data-section="about" data-order="3">About the program</h1>

<div id="page">
  <section id="contact">
  <div class="logo"><img src="img/BSS_Logo_128x381.png"></div>
  <div class="contact_content">
    <div class="contact_line"><div class="email contact_icon"></div>&nbsp;info@bostonstartupschool.com</div>
    <div class="contact_line"><a href="https://twitter.com/BOStartupSchool" target="_blank"><div class="twitter contact_icon"></div>&nbsp;@BOStartupSchool</a></div>
    <div class="contact_line"><a href="https://twitter.com/#!/search/%23LearnToDo" target="_blank"><div class="hash contact_icon"></div>&nbsp;#LearnToDo</a></div>
  </div>
  </section>

  <section id="apply" style="margin-top:0">

    <div id="instructions_container"><div id="instructions">

      <div id="instruction_content">
        <div class="x_close instruction_toggle">X</div>
        <p>
          Our application process requires you to have access to record and post two video responses; we recommend using YouTube or Vimeo. Be prepared to complete the application in ONE-sitting, as it will not save your progress. Our priority and intention with this application is to get to know YOU.
        </p>
        <p>That's all! Good luck, have fun and we look forward to meeting you!</p>
      </div>

      <div id="instruction_header" class="instruction_toggle">
        Application Instructions&nbsp;&nbsp;&nbsp;<a id="toggle_instructions">open</a>
      </div>
    </div></div>

    <div id='success'>
      <p style="margin-top:25px">You're done! For now.</p>
      <p>Please be patient as we process applications over the next few weeks. Next steps may require invitation-only Skype, phone, or in-person interviews.</p>
      <p>Thanks for applying and we look forward to getting to know you.</p>
      <p><a href="https://twitter.com/#!/search/%23LearnToDo">#LearnToDo</a> <a href="https://twitter.com/BOStartupSchool">@BOStartupSchool</a></p>
    </div>

    <form id="application">

      <div class="control-group">
        <label for="app[Field7]">Full name</label>
        <input type="text" name="app[Field7]" id="name" />
        <span class="help-inline" id="name_error"></span>
      </div>

      <div class="control-group">
        <label for="app[Field3]">Email</label>
        <input type="text" name="app[Field3]" id="email" />
        <span class="help-inline" id="email_error"></span>
      </div>

      <div class="control-group">
        <label for="app[Field10]">What college/university do you attend, what is your major, and what is your year?</label>
        <input type="text" name="app[Field10]" id="college"/>
        <span class="help-inline" id="college_error"></span>
      </div>

      <div class="control-group">
        <label for="app[Field11]">What track are you applying to?</label>
        <label class="radio">
          <input type="radio" name="app[Field11]" class="track" value="Track A - Product & Design" /> Track A - Product &amp; Design
        </label>
        <label class="radio">
          <input type="radio" name="app[Field11]" class="track" value="Track B - Business Development & Sales" /> Track B - Business Development &amp; Sales
        </label>
        <label class="radio">
          <input type="radio" name="app[Field11]" class="track" value="Track C - Marketing" /> Track C - Marketing
        </label>
        <label class="radio">
          <input type="radio" name="app[Field11]" class="track" value="Track D - Software Development" /> Track D - Software Development
        </label>
        <span class="help-inline" id="track_error"></span>
      </div>

      <div class="control-group">
        <label for="app[Field12]">In 140 characters or less, who are you?</label>
        <textarea name="app[Field12]" id="whoami"></textarea>
        <span class="help-inline" id="whoami_error"></span>
        <label for="app[Field12]" class="counter whoami_count">0/140 characters</label>
      </div>

      <div class="control-group">
        <label for="app[Field13]">Provide up to 5 links to sites where we can find your social footprint.</label>
        <textarea name="app[Field13]" id="social" placeholder="For example, LinkedIn, Tumblr, Github, etc"></textarea>
        <span class="help-inline" id="social_error"></span>
      </div>

      <div class="control-group">
        <label for="app[Field14]">In a short video (60 seconds or less), tell us: (1) Why you want to enroll in Boston Startup School and (2) what makes you a strong candidate for admission.</label>
        <input type="text" name="app[Field14]" id="the_why" placeholder="Add a link to your video" data-required="true"/>
        <span class="help-inline" id="the_why_error"></span>
      </div>

      <div class="control-group">
        <label for="app[Field9]">In a second short video (60 seconds or less), tell us about something you created or accomplished that you are most proud of and why it wouldn't have happened without you.</label>
        <input type="text" name="app[Field9]" id="accomplished" placeholder="Add a link to your video" data-required="true"/>
        <span class="help-inline" id="accomplished_error"></span>
      </div>

      <div class="control-group">
        <label for="app[Field15]">Why do you think you will be an awesome hire upon completion of this program? (250 character limit)</label>
        <textarea name="app[Field15]" id="good_hire"></textarea>
        <span class="help-inline" id="good_hire_error"></span>
        <label for="app[Field12]" class="counter good_hire_count">0/250 characters</label>
      </div>

      <div class="control-group">
        <label for="app[Field5]">Is there anything else we should know about you? (250 word limit)</label>
        <textarea name="app[Field5]" id="other"></textarea>
        <span class="help-inline" id="other_error"></span>
        <label for="app[Field12]" class="counter other_count">0/250 words</label>
      </div>

      <br/>
      <button type="submit" class="btn btn-warning">Submit Application</button>

    </form>
  </section>

  <section id="why">
    <div class="content">
      <p>Boston Startup School is a unique educational experience where select people gain highly sought-after skills, a deep understanding of startup culture, and unparalleled access to a valuable community of seasoned entrepreneurs, educators, and mentors. </p>
      <p>Students attend lectures and workshops, participate in startup-pace, team projects, and will regularly network and interview with companies hiring throughout the Boston area.</p>
    </div>
  </section>

  <section id="details">
    <div class="content">
      <p>Boston Startup School launches on June 4th, 2012 and runs for 6 weeks.</p>
      <p>This is an intensive program, successful participants will work at the intense pase of a startup.</p>
    </div>
  </section>

  <section id="about">
    <div class="content">
      <p>Boston Startup School is the best place for graduating seniors to learn the skills needed to have an immediate and positive impact on the startup you join. Your days will be spent working on real startup challenges, rapidly applying your new skills. You will have an opportunity to meet an incredible set of Boston startup companies that are looking for talent to grow their businesses.</p>
      <p>Our program is an immersive, six-week, full time curriculum that educates participants on startup culture, team dynamics and one of four in-demand skill sets.</p>

    </div>
    <div class="curriculum_section" id="dev" style="margin-top:0">
      <div class="icon" id="dev_icon"></div>
      <div class="bar_cover">
        <div class="bar">Software Development</div>
      </div>
    </div>
    <div class="curriculum_section" id="marketing">
      <div class="icon" id="marketing_icon"></div>
      <div class="bar_cover">
        <div class="bar">Marketing</div>
      </div>
    </div>
    <div class="curriculum_section" id="design">
      <div class="icon" id="design_icon"></div>
      <div class="bar_cover">
        <div class="bar">Product Design</div>
      </div>
    </div>
    <div class="curriculum_section" id="sales" style="margin-bottom:0">
      <div class="icon" id="sales_icon"></div>
      <div class="bar_cover">
        <div class="bar">Sales &amp; Business Development</div>
      </div>
    </div>

  </section>

  <section id="hero">
    <div class="hero_content">
      Learn what it takes to join a startup.
      <div class="trust">Born at: <img id="ts_logo" src="img/techstars.png"/>&nbsp;&nbsp;<img id="ts_logo" src="img/p11_logo.png"/></div>
    </div>
  </section>

  <!--[if !IE]>-->
  <!--<img id="svg_logo" src="img/logo_noarrow.svg" type="image/svg+xml"/>-->
  <!--<embed id="svg_logo" src="img/logo_noarrow.svg" type="image/svg+xml"/>-->
  <!--<object data="img/logo_noarrow.svg" type="image/svg+xml" style="display:none"
    width="270" height="91" id="svg_logo">-->
    <img id="svg_logo" src="img/BSS_Logo_500x1484_noarrow.png"/>
    <!--<![endif]-->
  <!--[if lt IE 9]>
  <object src="img/logo_noarrow.svg" classid="image/svg+xml"
    width="270" height="91" id="svg_logo"> <![endif]-->
  <!--[if gte IE 9]>
  <object data="img/logo_noarrow.svg" type="image/svg+xml"
    width="270" height="91" id="svg_logo"> <![endif]-->
  </object>

  <div id="arrow">
    <div id="arrow_head">
    </div>
    <div id="arrow_body">
    </div>
  </div>
</div>
