@media (max-width:@breakpointMinimal) {
  .column {
    width:100%;
  }
  #page {
    width:100%;
  }
}

@media (min-width:@breakpointMinimal) and (max-width:@breakpointOneColumn) {
  .column {
    width:100%;
  }
}

@media (min-width:@breakpointOneColumn) and (max-width:@breakpointTwoColumn) {
  .column {
    width:50%;
  }
}

@media (min-width:@breakpointTwoColumn) and (max-width:@breakpointThreeColumn) {
  .column {
    width:33%;
  }
}

@media (min-width:@breakpointThreeColumn) {
  .column {
    width:@maxColumnWidth;
  }
}
