@import "../lib/styles.less";

section {
  padding:20px 0 40px 0;
  margin-top:50px;
  margin-bottom:30px;
  position:relative;
  z-index:2;
}

section#apply {
  padding:0 0 40px 0;
}

section#contact {
  margin-top:0;
  padding-left:40px;
  .clearfix;
}

.logo {
  float:left;
  margin-right:30px;
}
.contact_content {
  float:left;
  padding:17px 0 0 0px;
  .contact_line {
    vertical-align:top;
    &:hover {
      color:@primary;
      .contact_icon
    }

    a {
      vertical-align:top;
      &:hover {
        text-decoration:underline;
      }
    }
  }

  .contact_icon {
    display:inline-block;
    width:24px;
    height:24px;
    text-align:right;
  }
  .contact_icon.email {
    background: transparent url(../../img/mail_default.png) no-repeat center center;
  }
  .contact_icon.twitter {
    background: transparent url(../../img/twitter_default.png) no-repeat center center;
  }
  .contact_icon.hash {
    &:hover {
      cursor:pointer;
    }
  }
}

ol {
  margin-left:1.5em;
}
ol ol {
  list-style:lower-alpha;
}

#scroll_up {
  visibility:hidden; // Start invisible while page is loading
  position:fixed;
  top:20px;
  right:40px;
  text-align:center;

  .opacity(20);

  .scroll_arrow {
    margin:20px auto 0 auto;
    width:80px;
    .scroll_arrow_head {
      width:0px;
      height:0px;
      border-top:0;
      border-right:40px solid transparent;
      border-left:40px solid transparent;
      border-bottom:40px solid @tertiary;
    }
    .scroll_arrow_body {
      position:relative;
      height:100px;
      width:40px;
      margin-left:20px;
      background:@tertiary;
    }
  }
}

#about {
  .curriculum_section {
    margin:40px 0;
    padding-left:40px;
    .clearfix;
    .icon {
      float:left;
      width:128px;
      height:128px;
    }

    .bar_cover {
      margin:43px 0 0 -10px;
      float:left;
      overflow:hidden;
      width:100px;
    }
    .bar {

      padding:4px 0 0 15px;
      height:41px;
      font-size:25px;

      color:@white;

      background:@primary;
      width:692px;
    }
    .subtext {
      .opacity(60);
    }

    #dev_icon {background: url(../../img/dev.png) no-repeat}
    #marketing_icon {background: url(../../img/marketing.png) no-repeat}
    #design_icon {background: url(../../img/design.png) no-repeat}
    #sales_icon {background: url(../../img/sales.png) no-repeat}

  }
}

#instructions_container {
  position:absolute;
  margin:0 12% 0 4%;
  width:84%;
  height:100%;
  overflow:hidden;
}
#instructions {
  position:relative;
  top:0;
  color:@white;

  background:rgba(100,100,100,.9);
  border:1px solid @tertiary;
  .box-shadow(0 0 15px rgba(0,0,0,0.5));
  .border-radius(4px);

  #instruction_content {
    position:relative;
    padding:10px 35px 15px 35px;
    border-bottom:1px solid @secondary;
  }

  #instruction_header {
    border-top:1px solid @tertiary;
    padding:4px 0 6px 0;
    font-size:20px;
    text-align:center;
    background:rgba(0,0,0,0.1);
    &:hover {
      cursor:pointer;
      background:rgba(255,255,255,0.2);
      #toggle_instructions {
        color:@grayLighter;
      }
    }
  }

  .x_close {
    position:absolute;
    top:2%;
    right:3%;
    color:@grayLighter;
    .opacity(50);

    &:hover {
      cursor:pointer;
      .opacity(100);
    }
  }

  #toggle_instructions {
    color:@grayLight;
    font-size:14px;
    &:hover {
      text-decoration:none;
      color:@grayLighter;
      cursor:pointer;
    }
  }
}
#success {
  display:none;
  margin-top:40px;
  padding:20px 90px 20px 40px;
  font-size:24px;
}

#application {
  padding:40px 90px 20px 40px;

  .control-group {
    max-width:640px;
  }

  input[type=text],textarea {
    width:95%;
    min-width:250px;
    max-width:640px;
  }
  textarea {
    height:6em;
  }
  label {
    font-weight:bold;
    width:95%;
    min-width:250px;
    max-width:640px;
  }

  .help-inline {
    color:@red;
    font-size:15px;
  }

  .control-group {
    margin-top:20px;
  }
  .counter {
    font-size:13px;
    color:@grayLight;
  }
}

#hero {
  height:auto;
  font-size:40px;
  margin-bottom:-30px;

  .hero_content{
    padding:10px 90px 10px 40px;
  }

  .trust {
    font-size:16px;
    color:@tertiary;
  }

  #ts_logo {
    height:40px;
  }
}

.section_header {
  display:none;
  position:absolute;
  z-index:15;

  padding-right:100px;
  width:90%;
  height:40px;

  font-family: @mediumFontFamily;
  font-weight: normal;
  letter-spacing:1px;
  text-align:right;
  line-height:1.5em;
  font-size:24px;
  color:@white;

  background:@secondary;
  .box-shadow(0px 3px 6px rgba(0,0,0,0.3));
  border-top:1px solid @tertiary;
  border-bottom:1px solid darken(@secondary,5%);

  &:hover {
    cursor:pointer;
    background:@tertiary;
  }

  &:after {
    content:"";
    position:absolute;
    right:0px;
    bottom:-31px;

    border-top: 15px solid @tertiary;
    border-right: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid @tertiary;
    width:0;
    height:0;
  }
}
.apply_header {
  color:@orange;
}

#page {
  position:relative;
  padding-bottom:390px;
  width:63%;
  visibility:hidden; // Start invisible while page is loading

}

.content {
  margin:20px 0 20px 40px;
  width:80%;
  min-width:250px;
  max-width:640px;
  /*background:@tertiary;*/
  /*color:white;*/
  /*border-bottom:1px solid @secondary;*/
}

#svg_logo {
  position:absolute;
  bottom:40px;
  left:40px;
}

#arrow {
  position:absolute;
  z-index:1;
  bottom:60px;
  left:100px;
  display:none;
  #arrow_head {
    width:0px;
    height:0px;
    border-top:0;
    border-right:80px solid transparent;
    border-left:80px solid transparent;
    border-bottom:80px solid @primary;
  }
  #arrow_body {
    position:relative;
    height:25px;
    width:80px;
    margin-left:40px;
    background:@primary;
  }
  #arrow_tail {
    margin-left:40px;
    width:0px;
    height:0px;
    border-top:40px solid @primary;
    border-right:40px solid @primary;
    border-left:40px solid @primary;
    border-bottom:40px solid transparent;
  }
}

#call_to_action {
  visibility:hidden;  // Start invisible while page is loading
  display:table;
  position:fixed;
  bottom:45%;
  right:6%;

  padding:15px 5x;
  width:14%;

  /*color:@white;*/
  font-size:24px;
  text-transform:uppercase;

  /*background:@orange;*/

  .border-radius(5px);

  &:hover {
    /*cursor:pointer;*/
    /*background:@tertiary;*/
  }
  &:active {
    /*background:@secondary;*/
  }

  #call_text {
    text-align:center;
    vertical-align:middle;
    display:table-cell;
  }
}
