@import "../lib/styles.less";

section {
  position:relative;
  z-index:2;
  height:500px;
}

#page {
  position:relative;
  width:63%;
  padding-bottom:390px;

  h1 {
    position:relative;
    text-align:right;

    padding-right:10%;
    width:90%;
    height:1.5em;

    color:@white;
    line-height:1.5em;
    background:@secondary;
    .box-shadow(0px 3px 6px rgba(0,0,0,0.3));
    border-top:1px solid @tertiary;
    border-bottom:1px solid @tertiary;

    &:after {
      content:"";
      position:absolute;
      right:0px;
      bottom:-30px;

      border-top: 15px solid @tertiary;
      border-right: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid @tertiary;
      width:0;
      height:0;
    }
  }
}

.content {
  padding:10px 90px 0 40px;
}

#svg_logo {
  position:absolute;
  bottom:40px;
  left:40px;
}

#arrow {
  position:absolute;
  z-index:1;
  bottom:60px;
  left:100px;
  display:none;
  #arrow_head {
    width:0px;
    height:0px;
    border-top:0;
    border-right:80px solid transparent;
    border-left:80px solid transparent;
    border-bottom:80px solid @primary;
  }
  #arrow_body {
    position:relative;
    height:100px;
    width:80px;
    margin-left:40px;
    background:@primary;
  }
  #arrow_tail {
    margin-left:40px;
    width:0px;
    height:0px;
    border-top:40px solid @primary;
    border-right:40px solid @primary;
    border-left:40px solid @primary;
    border-bottom:40px solid transparent;
  }
}

#call_to_action {
  display:table;
  position:relative;
  top:0px;
  left:209%;

  padding:.7em .3em;
  width:1020%;

  color:@white;
  font-size:42px;
  text-transform:uppercase;

  background:@primary;

  .border-radius(4px);

  &:hover {
    cursor:pointer;
    background:@tertiary;
  }
  &:active {
    background:@secondary;
  }

  #call_text {
    text-align:center;
    vertical-align:middle;
    display:table-cell;
  }
}
