<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Startupschool</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/bin/index.css">
  <script src="js/lib/svg.js" data-path="js/lib"></script>
  <script src="js/lib/modernizr-2.0.6.min.js"></script>
  <%= csrf_meta_tags %>


</head>
<body>

  <%= yield %>

  <script type="text/javascript">
    Modernizr.load([
      {
         load: '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js',
         complete: function() {
            if ( !window.jQuery ) {
               Modernizr.load('js/lib/jquery-1.7.1.min.js');
            }
         }
      },
      {
         // Detect IE polyfill for JSON parsing
         test : window.JSON,
         nope : 'js/bin/json2.min.js'
      },
      {
         // Load minified lib
         load: 'js/bin/global.min.js'
      },
      {
         // Load minified lib
        load: 'js/bin/landing.js'
      }

      // Anything else that needs to be loaded should happen here!
    ]);
  </script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29629736-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","5bdbae42c47abbbb0ae7e2133270b503"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
  </script><!-- end Mixpanel -->
</body>
</html>
