<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Startupschool</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="css/bin/index.css">
  <script src="js/lib/modernizr-2.0.6.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <script type="text/javascript">
    Modernizr.load([
      {
         load: '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js',
         complete: function() {
            if ( !window.jQuery ) {
               Modernizr.load('js/lib/jquery-1.7.1.min.js');
            }
         }
      },
      {
         // Detect IE polyfill for JSON parsing
         test : window.JSON,
         nope : 'js/bin/json2.min.js'
      },
      {
         // Load minified lib
         load: 'js/bin/global.min.js'
      },
      {
         // Load minified lib
        load: 'js/lib/svg.js'
      },
      {
         // Load minified lib
        load: 'js/bin/landing.js'
      }

      // Anything else that needs to be loaded should happen here!
    ]);
  </script>
</body>
</html>
